// WIDGET GLOBAL THEME STYLES

// EXAMPLE, you can remove this styles
.btn {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border-radius: 50px;
  font-size: 14px;
  padding: 0.50rem 1.25rem;
  @media all and (max-width: 400px) { 
    padding: 0.5rem 0.8rem;
  }
}


.btn-lg {
  padding-right: 2rem;
  padding-left: 2rem;
}

.btn-solicita {
  color: #fff;
  background: linear-gradient(167.43deg, #6B87BD 9.17%, #3B5A8D 96.28%);
  border-color: $blue;
  &:hover {
    color: #fff;
    background-color: #5172b1;
    border-color: #4c6ca9;
  }
}

.btn-operacion {
  color: rgba(255, 255, 255, 1);
  background-color: $brand-invex;
  border-color: $brand-invex;
    &:hover {
      color: rgba(255, 255, 255, 1);
      border-color: $brand-invex;
      background: darken($brand-invex, 5%);
    }
}

.btn-outline-operacion {
  color: $brand-invex;
	border-color: $brand-invex;
    &:hover {
        color: rgba(255, 255, 255, 1);
        background-color: $brand-invex;
        border-color: $brand-invex;
    }
}


.btn-primary {
  color: #fff;
  background: linear-gradient(167.43deg, #6B87BD 9.17%, #3B5A8D 96.28%);
  border-color: $blue;
}

.btn-outline-primary {
  color: $blue;
  border-color: $blue;
}

.form-control {
  height: 40px;
  border:1px solid #CCCCCC;
}

.form-group {
  select {
      color:$grey-2;
      border-color: #CCCCCC;
      font-size: 14px;
      border-radius: 8px;
  }
}