@import "./variables";
@import "~bootstrap";
@import "./theme";

/* Title Modyo Cli*/
.title-widget {
    margin: 0 auto;
    @include media-breakpoint-up(sm) { 
        max-width: 540px;
    }
    @include media-breakpoint-up(md) { 
        max-width: 720px;
    }
    @include media-breakpoint-up(lg) { 
        max-width: 960px;
    }
    @include media-breakpoint-up(xl) { 
        max-width: 1140px;
    }
}


/* Vista Historial */

.widget-widget-historial-fx {
    .container-widget {
      margin-top: 10px;
    }
}
  
.box-consultar {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background-color: #fff;
    padding: 28px 20px 25px 20px;
    width: 100%;
    .form-row > [class*="col-"] {
      @include media-breakpoint-up(md) { 
        padding-right: 15px;
      }
    }
    label {
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 15px;
      color: #424242;
    }
  }
  
  .box-consulta-descarga {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }
  .icon-descarga {
    position: relative;
    top: -6px;
  }
  .btn-columna {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @include media-breakpoint-up(lg) { 
      margin-top: 0;
    }
    
    span {
      font-size: 15px;
      line-height: 20px;
      margin-left: 12px;
    }
  }
  
  .box-filtrado {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background-color: #fff;
    padding: 28px 20px 28px 20px;
    @include media-breakpoint-up(md) { 
      width: 100%;
    }
    .form-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  .box-consultar, .box-filtrado {
    .form-row {
      @media (min-width: 768px) {
        .form-group {
          margin-bottom: 0;
        }
      }
    }
  }
  
  .box-filtrado {
    justify-content: space-between;
  }
  
  .box-table-result {
    width: 100%;
    font-size: 14px;
  }
  
  .row-pills {
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) { 
      gap: 20px 40px;
    }
    @include media-breakpoint-up(lg) { 
      display: flex;
      flex-wrap: nowrap;
      width: 75%;
      overflow-x: auto;
    }
  }
  
   
  .btn-pill {
    display: flex;
    color:#424242;
    background: #F5F5F5;
    border-radius: 8px;
    padding: 13px 30px;
    position: relative;
    font-size: 14px;
    line-height: 17px;
    width: 140px;
    @include media-breakpoint-up(md) { 
      width: 178px;
    }
    .close {
      position: absolute;
      top: 2px;
      right: 9px; 
    }
  }
  
  .table .thead-color th {
    color: white;
    background-color: #A41D36;
    text-align: center;
    border-bottom: none;
    vertical-align: middle;
  }
  
  .table-historial {
    .table td {
      text-align: center;
    }
  }
  
  .pagination-resultado {
    .page-item.active .page-link {
        background-color: #A41D36;
        border-color: #A41D36;
    }
    .page-link {
        color: #424242;
    }
  }
  

  .modal-wrapper {
    height: 100%;
    padding: 20px;
    .modal-dialog {
      max-width: 650px;
      margin: auto;
      transform: translate3d(0%, 0, 0);
      transition: all 0.3s linear, right 0.3s ease-out;
    }
  }
  
  .modal-header {
      border-bottom: none;
      padding: 1rem 1rem 0 1rem;
  }
  .modal-title {
      color: #424242;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin:1.5rem 0 2rem 0;
  }
  .modal-footer {
      border-top: none;
      padding-bottom: 2.5rem;
  }
  .modal-mask {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1050;
      background-color: rgba(0, 0, 0, .5);
      display: block;
      transition: all .3s ease;
  }
  button.close {
    display: flex;
    align-items: center;
    opacity: 1;
    font-weight: normal;
    font-size: 30px;
    &:focus {
      outline: none;
    }
  }

  .table-wrap {
    @media (max-width: 767px) {
        word-break: normal;
        overflow-wrap: anywhere;
    }
}

/* Style Calendar */

.seleccionFecha {
  font-size: 14px;
}

.input-fecha {
  input {
    border: none;
    width: 100%;
    color:#8A8A8A;
    font-size: 13px;
    outline: none;
  }
}

.wrapp-fecha {
  display: table;
  background: #FFFFFF;
  border: 0.5px solid rgba(218, 218, 218, 0.8);
  border-radius: 10px;
  width: 100%;
  padding: 10px 10px 0 10px;
  position: absolute;
  z-index: 10;
  .vc-container.vc-blue {
    border: none;
    /* width: 100%;
    height: auto; */
  }
  span {
    display: flex;
    flex-direction: column;
    input {
      border:none;
      font-size: 14px;
    }
  }
}

.box-fecha-cal {
  display: flex;
  justify-content: space-around;
  padding: 4px 10px;
  > div {
    background-color: #ECECEC;
    padding: 5px 24px;
    border-radius: 5px;
    color: #8A8A8A;
    font-size: 14px;
  }
}

.row-accion-cal {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  position: relative;
  button {
    position: absolute;
    top: -10px;
  }
}

.link-red {
  color: #A30234;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}



.box-consultar .form-row .form-group {
  &.col-producto {
      // background-color: rgba(255,0,0,0.1);
      @include media-breakpoint-up(lg) { 
        margin-right: -20px;
      }
      select {
        @include media-breakpoint-up(lg) { 
            width: 80%;
        }
    }
  }
}
.box-consultar .form-row .form-group.col-date {
  &.col-date {
    @include media-breakpoint-up(lg) { 
      margin-left: -20px;
      margin-right: 20px;
      // background-color: rgba(0,255,0,0.1);
    }
    
    .wrap-fecha { 
      @include media-breakpoint-up(lg) {  
        position:relative;
        width: 140%;
      }
    }
  }
}

.box-consultar .form-row .form-group {
  &.col-status {
    // background-color: rgba(0,0,255,0.1);
    @include media-breakpoint-up(lg) { 
      margin-right: -20px;
      margin-left: 40px;
    }
    
    select {
      @include media-breakpoint-up(lg) {  
        width: 88%; 
      }
    }
  }
}


.icon-calendar {
  position: absolute;
  right: 15px;
  top: 35px;
  display: block;
  @include media-breakpoint-up(md) {  
    display: none;
  }
  @include media-breakpoint-up(lg) {  
    display: block;
    right: 8px;
    top: 7px;
  }
}

/* Table draggable*/

.table-historial {
  position: relative;
}
.draggable {
  width: 100%;
  display: flex;
  background-color: rgba(255,0,0,0.1);
  position: absolute;
  z-index: 5;
  .th-custom.sortable {
    background: #a41d36;
    border-color: #a41d36;
    color: white;
    font-size: 14px;
    padding: 0;
   
    &.col-Producto{
      span {
        width: 102px;
      }
    }
    &.col-Operador {
      span {
        padding-left: 0;
        padding-right: 0;
        width: 119px;
      }
    }
    &.col-\#Ref\/Folio {
      span {
        padding-left: 0;
        padding-right: 0;
        width: 104px;
      }
    }
    &.col-Tipo {
      span {
        width: 160px;
      }
    }
    span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 19.5px;
    padding-right: 19.5px;
    padding-bottom: 10.5px;
    padding-top: 10.5px;
    height: 48px;
    font-weight: normal;
    cursor: pointer;
    }
  }
}

table.vgt-table {
  thead {
    tr {
      span {
        display: none;
        visibility: hidden;
      }
    }
  }
}